
{% extends 'base.html' %}

{% block conteudo %}
{% with menssages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
             <div class="alert alert-sucess" role="alert">
                    {{msg}}
            </div>
         {% endfor %}
    {% endif %}
{% endwith %}

        <main class="text-center mt-5">
            <h2>Contato </h2>
            <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="text-start form-group">
                <label for="text">Nome completo</label>
                {{ form.nome(class="form-control", placeholder="Digite aqui seu nome") }}
                <label for="email">E-mail</label>
                {{ form.email(class="form-control", placeholder="Digite aqui seu email") }}
                <label for="text">Assunto</label>
                {{ form.assunto(class="form-control", placeholder="Digite aqui o assunto") }}
                <label for="text">Corpo do e-mail</e-mail></label>
                {{ form.mensagem(class="form-control", rows"3", placeholder="Digite aqui a mensagem") }}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    
    </div>
        </main>

{% endblock %}